* {
  --blue: #0b57d0;
  --grey: rgb(95, 99, 104);
  --errorColor: rgb(217, 48, 37);
  --box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.149);
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
}

/*start design FormHeader*/
.auth-form {
  width: 100%;
}
img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.header {
  margin-top: 1rem;
  font-weight: 300;
}

.caption {
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

/*start design EachForm*/
.PersonalData,
.BasicInfo,
.passwordInfo,
.emailInfo,
.loginPage,
.PasswordPage,
.forgetEmailPage,
.phoneNumberInfo,
.errorPage,
.forgetEmail,
.forgetPassword,
.successfulPage,
.verificationPage {
  border: 1px solid #dadce0;
  overflow: hidden;
}
.form-container {
  height: 100%;
  margin: auto;
  padding: 3rem 3rem 5rem 3rem;
  /* border: 1px solid #dadce0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

/* .auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.container-input {
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.container-input .each-input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.2rem;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 1px #dadce0;
}

.container-input .each-label {
  display: block;
}

/*placeholder transition*/

.container-input .each-label:not(.spetial-label) {
  position: absolute;
  top: 17%;
  left: 3%;
  padding: 0 0.5rem;
  z-index: -1;
  color: var(--grey);
  background-color: white;
  transition: 0.1s ease-in-out;
  cursor: text;
}

.each-input:focus + .each-label:not(.spetial-label),
.each-input:valid + .each-label:not(.spetial-label) {
  z-index: 1;
  font-size: 10px;
  background-color: white;
  top: -11%;
  color: var(--blue);
  pointer-events: none;
}

.each-input:focus {
  outline: none;
  box-shadow: 0 0 0 1.3px var(--blue);
}

/*Error message*/
.each-errorMsg {
  font-size: 12px;
  color: var(--errorColor);
  display: none;
}

/* error img in the error page */
.error-img {
  width: 15rem;
  height: 7rem;
  transform: rotateY(180deg);
  position: relative;
  flex: 1;
  align-self: flex-start;
}

.status {
  position: relative;
  margin: -9rem;
  top: 5rem;
  font-size: 206px;
  font-weight: 900;
  color: #0b57d030;
}

/*invalid Inputs*/
.container-input.invalid .each-errorMsg {
  display: block;
}

.container-input.invalid .each-input {
  border: 1px solid var(--errorColor);
}

.each-input:invalid[focus="true"] {
  border: 1px solid var(--errorColor);
}

.each-input:invalid[focus="true"] ~ .error-word {
  display: block;
}

.each-input:focus + .each-label:not(.spetial-label),
.each-input:invalid[focus="true"] ~ .each-label:not(.spetial-label) {
  z-index: 1;
  font-size: 10px;
  background-color: white;
  color: var(--errorColor);
  top: -11%;
  color: var(--blue);
  pointer-events: none;
}

/*styling FormButton*/
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.leftBtn {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;
}

.rightBtn {
  border: none;
  background-color: var(--blue);
  padding: 0.4rem 1.2rem;
  border-radius: 0.3rem;
  align-self: flex-end;
  color: #fff;
}

/*responsive*/
@media (min-width: 768px) {
  .form-container {
    width: 30em;
  }
}

/*start design basic info page*/
.BasicInfo .auth-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

.BasicInfo .auth-form .container-input {
  flex: 0 0 calc(33.333% - 1em);
}

.BasicInfo .auth-form .container-input.gender {
  flex: 1;
}

/* style show password icon */
.custom-phone-input .form-control {
  width: 100% !important;
}
/* styling phone-page */
.container-radio {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #7477753d;
  display: flex;
  flex-wrap: wrap;
}

/* styling radio button in email page */
.radio-input {
  width: 20px;
  margin-right: 15px;
  height: 20px;
  cursor: pointer;
  align-self: end;
}

.radio-label {
  cursor: pointer;
}

/* style password login page */

.PasswordPage {
  position: relative;
}

.wrapper-input-passwordIcon {
  position: relative;
  margin-top: 20px;
}

.show-password-icon {
  position: absolute;
  top: 32%;
  left: 90%;
  cursor: pointer;
}

/* styling loading bar */
.loading {
  width: 100%;
  height: 4px;
  position: relative;
  background: #d5dfe9;
  overflow: hidden;
}

.loading div:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: var(--blue);
  animation: box-1 2100ms cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
}
.loading div:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: var(--blue);
  animation: box-2 2100ms cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
  animation-delay: 1150ms;
}
@keyframes box-1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60%,
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes box-2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%,
  100% {
    left: 107%;
    right: -8%;
  }
}

.Toastify__progress-bar {
  background-color: transparent !important;
}

.Toastify__progress-bar--animated {
  background-color: transparent !important;
}

.Toastify__progress-bar--error {
  background-color: transparent !important;
}
.Toastify__progress-bar--success {
  background-color: transparent !important;
}
/* style successful page */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /0.5);
  filter: blur(0.5px);
  z-index: 100;
}

.successfulPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.container-successful {
  margin: 3% 14%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 35px);
}

.successfulPage .header {
  margin: 0;
  font-weight: 400;
}

.header-successful {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: relative;
  margin-bottom: 30px;
}

.buttons {
  font-weight: 500;
}

.buttons.invalid .cancel,
.buttons.invalid .save {
  border: 1px solid rgb(0 0 0 / 0.1);
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgb(0 0 0 / 0.1);
}

.buttons .cancel,
.buttons .save {
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.buttons .save {
  display: flex;
  margin-left: 10px;
  background-color: #03a9f4;
  color: white;
  border-color: transparent;
}

.save svg {
  align-self: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.save-btn {
  border: none;
  margin-left: 5px;
}

.buttons .cancel {
  background-color: transparent;
  border: 1px solid rgb(0 0 0 / 0.3);
}

.buttons.invalid .cancel {
  color: rgb(0 0 0 / 0.1);
}

.buttons.invalid .cancel,
.buttons.invalid .save {
  cursor: not-allowed;
}

.buttons.valid .cancel:hover {
  background-color: #9e9e9e2e;
}

.buttons.valid .save:hover {
  background-color: #008bca;
}

/* style card data */
.basic-card {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.each-card {
  padding-top: 30px;
}

/* Scrollbar styles */
.container-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding: 1px;
  margin: 2em 0;
}
.container-card::-webkit-scrollbar {
  width: 4px;
  visibility: hidden;
}

.container-card::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  visibility: hidden;
}

.container-card::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
  visibility: hidden;
}

.container-card::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.container-card:hover::-webkit-scrollbar,
.container-card:hover::-webkit-scrollbar-track,
.container-card:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.basic-card .card-header {
  padding: 10px 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 600;
}

.container-basic-data {
  padding: 10px 15px;
  display: flex;
  gap: 20px;
}
.profile-picture {
  padding: 2rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  cursor: pointer;
}

.main-data .name {
  font-weight: 500;
}

.id {
  color: var(--grey);
  display: inline;
  padding-right: 7px;
}

.change-password-btn {
  box-shadow: var(--box-shadow);
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
}

.change-password-btn svg {
  padding-right: 5px;
}

.change-password-btn:hover {
  background-color: rgb(0, 0, 0, 0.06);
}

/* style basic info box */
.container-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
}

.container-success-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 20px);
}
.container-success-box:nth-child(3),
.container-success-box:nth-child(4),
.container-success-box:nth-child(5) {
  flex: 1 1 calc(33.3% - 20px);
}

.success-label {
  font-family: Roboto, RobotoFallback, Noto Kufi Arabic, Helvetica, Arial,
    sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 5px 15px;
  font-size: 12px;
}

.wrapper-before {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.success-input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.04);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 14px;
}

.wrapper-before::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #03a9f4;
  position: absolute;
  top: 98%;
  left: 50%;
  transition: 0.5s;
}

.focused::before {
  width: 100%;
  left: 0;
}

.success-input:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.success-input:focus {
  outline: none;
}

/* last two cards */
.container-last-cards {
  display: flex;
  gap: 20px;
}

.container-last-cards .basic-card {
  flex: 1 1 50%;
}

/* second card */
.at-sign {
  padding: 0.7rem;
  background-color: #f6281930;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* third card */
.lock-icon {
  background-color: #03a9f429;
  padding: 0.7rem;
  border-radius: 50%;
  padding: 0.7rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styling password pupop */

.pupop {
  opacity: 1;
  will-change: auto;
  transform: none;
  position: fixed;
  width: 31%;
  z-index: 1000;
}

.container-pupop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  padding: 0.5em 1.5em;
  border-radius: 5px;
}

.container-pupop {
  color: #545454;
}

.container-pupop h2 {
  padding: 24px 30px 0;
  font-size: 30px;
}

.pupop-submit {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  background-color: #03a9f4;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.pupop-submit:hover {
  background-color: #008bca;
}

.pupop-submit:active {
  box-shadow: 0 0 0 3px #98c8de;
  transform: translateY(-1px);
}

/* style loading spinner */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #008bca;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #008bca;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
